anytree==2.7.2
appdirs==1.4.3
# application-utility==1.2.1
# astroid==2.3.2
attrs==19.3.0
autopep8==1.4.4
beautifulsoup4==4.8.0
btrfsutil==1.1.1
CacheControl==0.12.5
caffeine-ng==3.4.2
chardet==3.0.4
chrome-gnome-shell==0.0.0
colorama==0.4.1
cupshelpers==1.0
distlib==0.2.9
distro==1.4.0
doc8==0.8.0
docopt==0.6.2
docutils==0.15.2
ewmh==0.1.6
gufw==19.10.0
html5lib==1.0.1
idna==2.8
importlib-metadata==0.23
isort==4.3.21
lazy-object-proxy==1.4.3
lensfun==0.3.2
lockfile==0.12.2
louis==3.11.0
lxml==4.4.1
mccabe==0.6.1
meson==0.52.0
more-itertools==7.2.0
msgpack==0.6.2
npyscreen==4.10.5
numpy==1.17.3
opencv-python==4.1.1.26
packaging==19.2
pacman-mirrors==4.15
pbr==5.4.3
pep517==0.6.0
Pillow==6.2.0
progress==1.5
pwquality==1.4.2
pycairo==1.18.2
pycodestyle==2.5.0
pycups==1.9.74
pycurl==7.43.0.3
Pygments==2.4.2
PyGObject==3.34.0
pylint==2.4.3
pyparsing==2.4.4
PyQt5==5.13.2
PyQt5-sip==4.19.19
python-xlib==0.25
pytoml==0.1.21
pyxdg==0.26
requests==2.22.0
restructuredtext-lint==1.3.0
retrying==1.3.3
setproctitle==1.1.10
six==1.12.0
soupsieve==1.9.5
stevedore==1.31.0
team==1.0
tqdm==4.37.0
typed-ast==1.4.0
ufw==0.36
urllib3==1.25.6
ushlex==0.99.1
virtualenv==16.7.7
webencodings==0.5.1
wrapt==1.11.2
zipp==0.6.0
